
{% extends "webapp/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<body>
    <div class="container bg-light shadow-md p-5 form-layout">
    <h4>Create record</h4>
    <h5>Start adding in the required details for your record. </h5>
    <hr>
    <br>
    <form method="POST" autocomplete="off">
        {% csrf_token %}
        {{form.first_name|as_crispy_field}}
        <br>
        {{form.last_name|as_crispy_field}}
        <br>
        {{form.email|as_crispy_field}}
        <br>
        {{form.phone|as_crispy_field}}
        <br>
        {{form.city|as_crispy_field}}
        <br>
        {{form.dzongkhag|as_crispy_field}}
        <br>
        {{form.country|as_crispy_field}}
        <br>
        <button type="submit" class="btn btn-primary">Create an account &nbsp;<i class="fa-solid fa-check"></i></button>
        <a class="btn btn-success href="{% url 'dashboard' %}>Return &nbsp; <i class="fa-solid fa-arrow-left"></i></a>
    </form>
    
    
</body>
{% endblock  %}
